---
Checks:             '-*,bugprone-*,
                    -bugprone-branch-clone,
                    -bugprone-infinite-loop,
                    -bugprone-integer-division,
                    -bugprone-lambda-function-name,
                    -bugprone-macro-parentheses,
                    -bugprone-misplaced-widening-cast,
                    -bugprone-narrowing-conversions,
                    -bugprone-not-null-terminated-result,
                    -bugprone-exception-escape
                    '
WarningsAsErrors:   'bugprone-*,
                    -bugprone-branch-clone,
                    -bugprone-infinite-loop,
                    -bugprone-integer-division,
                    -bugprone-lambda-function-name,
                    -bugprone-macro-parentheses,
                    -bugprone-misplaced-widening-cast,
                    -bugprone-narrowing-conversions,
                    -bugprone-not-null-terminated-result,
                    -bugprone-exception-escape
                    '
# -bugprone-exception-escape - main functions throwing exceptions are OK: we prefer analyze core dumps
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
...
