*~
.idea
cmake-build-debug/
.vscode/
README.html
venv/
build/*
tags
compile_commands.json
*__pycache__
MakefileCustom
utt-demo/bin/
utt-demo/run/

# VIM swap.
# Copied from https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# clangd directory
.clangd/

# Apollo test output
*/apollo/Testing/*
Testing

# Dafny profiling logs
/.dafny
dafny-qi.profile
triggers
