dist: bionic
language: cpp
os: linux
before_install:
  - ./install.sh
compiler:
  - gcc
  - clang
env:
  global:
    # We purposefully leave asserts on by excluding -NDEBUG
    - CMAKE_CXX_FLAGS="-DCMAKE_CXX_FLAGS_RELEASE=-O3 -g"
    - USE_LOG4CPP=-DUSE_LOG4CPP=TRUE
    - USE_ROCKSDB=-DBUILD_ROCKSDB_STORAGE=TRUE
    - USE_CONAN=-DUSE_CONAN=ON
    - USE_S3_OBJECT_STORE=-DUSE_S3_OBJECT_STORE=ON
  matrix:
    - CI_BUILD_TYPE="-DCMAKE_BUILD_TYPE=DEBUG -DCI_TEST_STORAGE_TYPE=v1direct"
    - CI_BUILD_TYPE="-DCMAKE_BUILD_TYPE=RELEASE -DCI_TEST_STORAGE_TYPE=v1direct"
    - CI_BUILD_TYPE="-DCMAKE_BUILD_TYPE=DEBUG -DCI_TEST_STORAGE_TYPE=v2merkle"
    - CI_BUILD_TYPE="-DCMAKE_BUILD_TYPE=RELEASE -DCI_TEST_STORAGE_TYPE=v2merkle"
script:
  - cd $TRAVIS_BUILD_DIR && mkdir build && cd build && cmake $CMAKE_CXX_FLAGS $CI_BUILD_TYPE $USE_LOG4CPP $USE_ROCKSDB $USE_CONAN $USE_S3_OBJECT_STORE .. && make format-check && make -j $(getconf _NPROCESSORS_ONLN)
    # Build and submit this
  - travis_wait 50 cmake -E env LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/build/lib:$LD_LIBRARY_PATH ctest --output-on-failure


cache:
  ccache: true
  pip: true
  directories:
    - $HOME/.conan/data
