agent_port: 8546
agent_host: agent
c_val: 0
client_batching_enabled: true
client_batching_flush_timeout_ms: 100
client_batching_max_messages_nbr: 20
client_initial_retry_timeout_milli: 500
client_max_retry_timeout_milli: 3000
client_min_retry_timeout_milli: 500
client_number_of_standard_deviations_to_tolerate: 2
client_periodic_reset_thresh: 30
client_proxies_per_replica: 4
client_samples_per_evaluation: 32
client_samples_until_reset: 1000
client_sends_request_to_all_replicas_first_thresh: 2
client_sends_request_to_all_replicas_period_thresh: 2
clients_per_participant_node: 15
comm_to_use: tls
concord-bft_communication_buffer_length: 16777216
enable_mock_comm: false
encrypted_config_enabled: false
f_val: 1
num_replicas: 4
num_ro_replicas: 1
prometheus_port: 9873
secrets_url: ""
signing_key_path: /concord/signing_keys
tls_1_3_cipher_suite_list: TLS_AES_256_GCM_SHA384
tls_1_3_comm_enabled: true
tls_certificates_folder_path: /concord/tls_certs
tls_cipher_suite_list: TLS_AES_256_GCM_SHA384
use_unified_certificates: false
transaction_signing_enabled: true
with_cre: true
node:
  - replica:
      - event_port: 50051
        principal_id: 0
        replica_host: concord1
        replica_port: 3501
        replica_host_uuid: concord1
  - replica:
      - event_port: 50051
        principal_id: 1
        replica_host: concord2
        replica_port: 3501
        replica_host_uuid: concord2
  - replica:
      - event_port: 50051
        principal_id: 2
        replica_host: concord3
        replica_port: 3501
        replica_host_uuid: concord3
  - replica:
      - event_port: 50051
        principal_id: 3
        replica_host: concord4
        replica_port: 3501
        replica_host_uuid: concord4
participant_nodes:
  - participant_node:
      - participant_node_host: 0.0.0.0
        clientservice_host_uuid: clientservice1
        external_clients:
          - client:
              - client_port: 3502
                principal_id: 21
          - client:
              - client_port: 3503
                principal_id: 22
          - client:
              - client_port: 3504
                principal_id: 23
          - client:
              - client_port: 3505
                principal_id: 24
          - client:
              - client_port: 3506
                principal_id: 25
          - client:
              - client_port: 3507
                principal_id: 26
          - client:
              - client_port: 3508
                principal_id: 27
          - client:
              - client_port: 3509
                principal_id: 28
          - client:
              - client_port: 3510
                principal_id: 29
          - client:
              - client_port: 3511
                principal_id: 30
          - client:
              - client_port: 3512
                principal_id: 31
          - client:
              - client_port: 3513
                principal_id: 32
          - client:
              - client_port: 3514
                principal_id: 33
          - client:
              - client_port: 3515
                principal_id: 34
          - client:
              - client_port: 3516
                principal_id: 35